<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button (click)="logout()">LOGOUT</ion-button>

  <br/>

  <ion-button *ngIf="!hasFacebookProvider()" (click)="linkFacebook()">Link Facebook</ion-button>

  <ion-button *ngIf="hasFacebookProvider()" (click)="unlinkFacebook()">Unlink Facebook</ion-button>
  <br/>

  <ion-button (click)="testPush()">Push</ion-button>

</ion-content>
