<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      User Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-divider>
    Search By:
  </ion-item-divider>

  <ion-segment [(ngModel)]="searchType" color="primary">
    <ion-segment-button value="id">ID</ion-segment-button>
    <ion-segment-button value="name">Name</ion-segment-button>
    <ion-segment-button value="email">Email</ion-segment-button>
  </ion-segment>

  <ion-searchbar #filter (keyup.enter)="search(filter.value)" (ionCancel)="onCancel()"></ion-searchbar>
<!--
  <ion-list>
    <ion-item *ngIf="users !== null && users.length == 0">No results</ion-item>
    <button ion-item *ngFor="let user of users" (click)="view(user)">
      {{ user.email}} {{ user.profile?.name}}
    </button>
  </ion-list>
-->
</ion-content>
