<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      User details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--
    <div *ngIf="user">
      <div style="padding: 10px;">
        <b>Name: </b>{{user.profile.name}}<br/>
        <b>Email: </b>{{user.email}}<br/>
        <b>Status:</b> {{user.status}}<br/>
        <b>Premium:</b> {{user.premium ? 'Yes' : 'No'}}<br/>
        <b>Credits:</b> {{user.credits}}<br/>
        <b>Created:</b> {{user.createdAt | dateFormat}}<br/>
    </div>

      <div *ngIf="!report?.profile?.photos">No profile photos</div>
      <ion-list show-delete="true">
        <ion-item *ngFor="let photo of report.profile.photos" class="item-thumbnail-left">
          <img [src]="photo">

          <ion-delete-button class="ion-minus-circled"
                             ng-click="deletePhoto(photo)">
          </ion-delete-button>

      </ion-item>
    </ion-list>

    <br/>
    <button ion-button primary block (click)="deleteUser()">Delete User</button>
    <br/>
    <button ion-button primary block (click)="banUser()">Ban User</button>

  </div>
  -->
</ion-content>
