<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button ion-button icon-only (click)="reportOptions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Reported user
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!--
  <div style="padding: 10px;">
    <b>{{report.profile.name}}</b>

    <div>
      {{report.profile.about}}
    </div>
  </div>

  <div *ngIf="!report.profile.photos">No profile photos</div>
  <ion-list show-delete="true">
    <ion-item *ngFor="let photo of report.profile.photos">
      <ion-thumbnail item-start>
        <img [src]="photo">
      </ion-thumbnail>

      <button ion-button clear item-end (click)="deletePhoto(photo)">Delete</button>
    </ion-item>
  </ion-list>

  <div *ngIf="reportDetails.recentMessagesToReporter">
    <b>Recent sent messages to reporter</b>
    <ion-list>
      <ion-item *ngFor="let msg of reportDetails.recentMessagesToReporter" style="padding:0px">
        <ion-label no-margin>{{msg.text}}{{msg.audio ? '(Audio)' : ''}}{{msg.image ? '(Image)' : ''}}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <b>Recent sent messages</b>
  <ion-list>
    <ion-item *ngFor="let msg of reportDetails.recentMessages" style="padding:0px" >
      <ion-label no-margin>{{msg.text}}{{msg.audio ? '(Audio)' : ''}}{{msg.image ? '(Image)' : ''}}</ion-label>
    </ion-item>
  </ion-list>


  <b>All reports against this user</b>
  <ion-list>
    <ion-item *ngFor="let report of reportDetails.allReports">
      {{report.createdAt | date}}<br/>
      Reason: {{report.reason}}<br/>
      Action: {{report.actionTaken}}
    </ion-item>
  </ion-list>
-->
</ion-content>
