<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'ADMIN' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="admin-home-content">

    <h2>Actions</h2>

  <ion-list>
    <button ion-item (click)="navTo(action)" *ngFor="let action of actions" [id]="action.id">
      {{ action.description }}
    </button>
  </ion-list>

    <h2>Links</h2>
    <ul>
      <li>Google Cloud Console</li>
      <li>Parse Server</li>
      <li>Mailgun</li>
      <li>Twilio</li>
    </ul>

</ion-content>
