<ion-content class="vertical-align-content" text-center>
  <!-- style="background-image: url(../../../assets/img/login.jpg);background-size:100%" -->
  <ion-grid style="width:300px">
    <ion-row>
      <ion-col text-center>
          <h1 id="loginHeader">AppNane</h1>

          <form [formGroup]="form">
            <ion-list>
              <ion-item>
                <ion-input id="email" type="text" placeholder="Email" formControlName="email"></ion-input>
              </ion-item>
              <ion-item id="emailError" class="input-error" *ngIf="hasError('email','emailValid')">{{'INVALID_EMAIL' | translate}}</ion-item>

              <ion-item>
                <ion-input id="password" type="password" placeholder="Password" formControlName="password"></ion-input>
              </ion-item>
              <ion-item id="passwordRequiredError" class="input-error" *ngIf="hasError('password', 'required')">{{'PASSWORD_LENGTH' | translate}}</ion-item>
              <ion-item id="passwordMinlengthError" class="input-error" *ngIf="hasError('password', 'minlength')">{{'PASSWORD_LENGTH' | translate}}</ion-item>

              <ion-item id="serverError" class="input-error" *ngIf="serverError">{{serverError}}</ion-item>
            </ion-list>

            <div class="center">
              <ion-button id="login" (click)="login()">{{'LOGIN' | translate}}</ion-button>
              <ion-button id="register" (click)="register()">{{'REGISTER' | translate}}</ion-button>
            </div>

          </form>

          <p>or</p>

          <ion-button id="facebook" (click)="facebookLogin()" block padding-horizontal>
            <ion-icon name="facebook"></ion-icon>
            Login with Facebook
          </ion-button>

          <br/>

          <p><a id="resetPassword" (click)="gotoResetPassword()">{{'RESET_PASSWORD' | translate}}</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
