<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Reported users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--
  <div *ngIf="!reports?.length" style="text-align: center">
    <br/>
    None<br/>
  </div>
  <ion-list>
    <ion-item *ngFor="let report of reports;trackBy:report?.id" (click)="viewDetails(report)">
      <ion-avatar item-start>
        <img [src]="report.profile | profileImageUrl">
      </ion-avatar>
      <h2>{{report.profile.name}}</h2>
      <p>
        {{report.createdAt | date}}<br/>
        Source: {{report.reason}}<br/>
      </p>
    </ion-item>
  </ion-list>
-->
</ion-content>
